// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome";

.login-box{
    background:#f8f9fa;
    width:55%;
}
.btn{
    background:rgba(112, 128, 144, 0.555) !important;
    width:18%;
}
.btn:focus,.btn:active,.form-control:focus,.form-control:active {
    outline: none !important;
    box-shadow: none;
 }
 .form-control{
     border-radius: 3px;
 }